html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.lightsaber {
  width: 9vw;
  height: 30vh;
  background-color:#EDF2F7;
  display: inline;
}

.river {
  z-index: -1;
}

#wolf {
  width: 8vw;
}

#cabbage {
  width: 6vw;
}

#goat {
  width: 6vw;
}

#boat {
  width: 20vw;
}

.boatLeft {
  top: 30%;
  left: 15%;
  position: absolute;
}

.boatRight {
  top: 30%;
  left: 50%;
  position: absolute;
} 

.goatLeft {
  top: 46%;
  left: 2%;
  position: absolute;
}

.goatRight {
  top: 46%;
  left: 85%;
  position: absolute;
}

.cabbageLeft {
  top: 65%;
  position: absolute;
}

.cabbageRight {
  top: 58%;
  left: 88%;
  position: absolute;
}

.wolfLeft {
  top: 42%; 
  left: 15%;
  position: absolute;
}

.wolfRight {
  top: 37%;
  left: 80%;
  position: absolute;
}

#grid {
  display: inline-grid;
  grid-gap: 10px;
}

#gridEternity {
  display: inline-grid;
}

.draggable {
  cursor: grab;
}

.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.toolbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 2vw;
  width: 100vw;
}

.block {
  border: 1px solid black;
  background: lightgray; 
}

.pentomino {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  flex-wrap: wrap;
  width: 8vw;
  height: 14vh;
  background: transparent;
  border: 1px solid #999;
  user-select: none;
}

.p0.block {
  background: lightgray; 
}

.p1.block {
  background: blue;
}

.p2.block {
  background: cyan;
}

.p3.block {
  background: purple;
}

.p4.block{
  background: darkgreen;
}

.p5.block {
  background: yellow;
}

.p6.block {
  background: orange;
}

.p7.block {
  background: red;
}

.p8.block {
  background: pink;
}

.p9.block {
  background: brown;
}

.p10.block {
  background: grey;
}

.p11.block {
  background: black;
}

.p12.block {
  background: lightgreen;
}

.btn {
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.puzzle {
  padding-top: 50px;
  padding-left: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}